.container
	margin 0px auto
	width 1000px

.row
	float left
	display inline-block
	clear both
	width 100%
	
#top-header
	float left
	display inline-block
	clear both
	width 100%
	background #F9F9F9

#top-navbar
	float right
	a
		float left
		display inline-block
		margin-left 0px
		margin-right 22px
		font-family 'Roboto'
		font-weight 300
		text-decoration none
		text-transform uppercase
		padding-top 12px
		color #837366
		&:hover
			color #443C35

#logo
	float left
	display inline-block
	width 277px

#right-logo
	float left
	display inline-block
	width 722px

#search-form
	float left
	display inline-block
	width 518px
	margin-top 20px
	
	input[type="text"]
		float left
		display inline-block
		width 450px
		padding-top 8px
		padding-bottom 9px
		padding-left 12px
		border 1px solid #EEEEEE
		border-right none
		font-size 18px
		font-family 'Roboto'
		font-weight 300
	
	#btn-search
		float left
		display inline-block
		width 54px
		height 41px
		background url("../img/btn-search.jpg")
		border none
		cursor pointer
		text-indent -9999px

#btn-cart
	float left
	display inline-block
	background url("../img/meu-carrinho.jpg") no-repeat
	width 181px
	height 53px
	line-height 62px
	text-align right
	margin-top 14px
	
	span
		padding-right 18px
		margin-top 4px
		display inline-block
		font-size 14px
		font-family 'Roboto'
		font-weight bold
		color #6C594A

#btn-cadastre-se
	float right
	text-decoration none
	font-family 'Roboto'
	color #756456
	margin-right 26px
	margin-top 8px
	
	span
		color #51BEC8

.atendimento
	display inline-block
#main-navbar
	float left
	display inline-block
	clear both
	width 100%
	background url("../img/navbar-bg.jpg") repeat-x
	height 63px
	
	a
		background url("../img/navbar.jpg") no-repeat
		height 18px
		float left
		display inline-block
		min-width 100px
		text-align center
		padding-top 44px
		font-family 'Roboto'
		text-decoration none
		color #D7D7D7
		font-size 14px
		font-weight bold
		&:hover
			background url("../img/navbar-hover.jpg") no-repeat
			color #FFF
	
	.btn-sala-de-estar, 
	.btn-sala-de-estar:hover
		min-width 129px
		width 129px
		background-position -21px 0px
	
	.btn-sala-de-jantar, 
	.btn-sala-de-jantar:hover
		min-width 136px
		width 136px
		background-position -150px 0px
	
	.btn-quarto, 
	.btn-quarto:hover
		min-width 88px
		width 88px
		background-position -286px 0px
	
	.btn-escritorio, 
	.btn-escritorio:hover
		min-width 103px
		width 103px
		background-position -374px 0px
	
	.btn-cozinha, 
	.btn-cozinha:hover
		min-width 96px
		width 96px
		background-position -477px 0px
	
	.btn-lavanderia, 
	.btn-lavanderia:hover
		min-width 113px
		width 113px
		background-position -573px 0px
	
	.btn-banheiro, 
	.btn-banheiro:hover
		min-width 102px
		width 102px
		background-position -686px 0px
	
	.btn-decoracao, 
	.btn-decoracao:hover
		min-width 110px
		width 110px
		background-position -788px 0px
	
	.btn-jardim, 
	.btn-jardim:hover
		min-width 105px
		width 105px
		background-position -898px 0px